.cell {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border: 1px solid
}


.btn {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
}

.board {
    margin: 0;
    border-collapse: collapse;
}