.cell {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    border: 1px solid
}


.btn {
    margin: 0;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    text-align: center;
}

.board {
    margin: 0;
    border-collapse: collapse;
}

.win-state {
    margin: top 50px;
    text-align: center;
    margin: 0;
    display: none;
}

.win-state.show {
    display: block;
}

.lose-state {
    display: none;
}

.lose-state.show{
    margin: top 50px;
    text-align: center;
    margin: 0;
    display:block
}

.revealed {
    background-color: lightgray;
}

.controls{
  display: flex;
  align-items: center;
  gap: 10px;
}